body{
  background-color: #f4f4f4;
  color: #555;
  font-family: arial,helvetica,sans-serif;
  font-size: 16;
  line-height: 1.6em;
  margin: 0;
  overflow: scroll;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#mainHeader{
  padding-top: 20px;
  background-color: #f4a442;
  color: #fff;
}

#logo{
  float: left;

  margin-bottom: 20px;
}


#menuName{
text-align:center;
font-size: 30px;
}

#mainHeader .button{
  float: right;

  font-size: 30px;
}
.button{
  background-color: #333;
  color: #fff;
  padding: 10px,15px;
  border: none;
}
.button:hover{
  color: red;
}

#navbar{
  background-color:#333;
  color: #fff;
}
#navbar ul{
  padding: 0;
  list-style: none;
}
#navbar li{
  display: inline;
}
#navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right:15px;
}

#showcase{
  background-image: url("../Foto/background.jpg");
  background-position:center ;
  min-height: 300px;
  margin-bottom: 40px;
  text-align: center;
}
#showcase h1{
  color: #fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main{
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#main ul{
  list-style-type: none;
  padding-left: 0px;
}

#sidebar{
  float: right;
  width: 30%;
  background: #333;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}
#sidebarContact{
  float: right;
  width: 30%;
  background: #f4f4f4;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}


#mainFooter{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

@media(max-width:600px){
  #main{
    width: 100%;
    float: none;
  }

  #sidebar{
    width: 100%;
    float: none;
  }
}

.fixMe{
  position: fixed;
  top:400px
}


<!--DropDownButton-->

.dropdown{
    display:inline-block;
    position:relative;
  }
  .dropdown button{
    border:none;
    padding:8px 16px;
    background-color:#333;
    color:white;
    font-size: 18px;
  }
  .dropdown:hover button{
    background-color:grey;
  }
  .dropdown div{
    background-color:#333;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:absolute;
    min-width:100%;
    opacity:0;
    transition:.3s;
  }
  .dropdown div a{
    display:block;
    padding:8px;
    white-space:nowrap;
  }
  .dropdown div a:hover{
    background-color:black;
  }
    .dropdown:hover div{
    visibility:visible;
    opacity:1;
  }
