/*
The Margin is the extra space around the control.
The Padding is extra space inside the control.
*/

body{
  background-color: #f4f4f4;
  color: #555;
  font-family: arial,helvetica,sans-serif;
  font-size: 120%;
  line-height: 1.6em;
  margin: 0;
  overflow: scroll;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#mainHeader{
  padding-top: 20px;
  background-color: #f4a442;
  color: #fff;
}

#logo{
  float: left;
  margin-bottom: 20px;
}

#mainHeader .menuName{
  float: left;
  text-align:center;
  padding-left: 30px;
  padding-top: 0px;
  font-size: 30px;
}

#mainHeader .header-signup{
  float: right;
  padding-right: 10px;
  padding-top: 30px;
}

#mainHeader form{
  float: right;
  margin-bottom: 20px;
  padding-top: 30px;
}

#mainHeader p{
  float: right;
  padding-top: 10px;
  padding-right: 20px;
}

/* Profielinfo*/
.profile_info div {
  display: inline-block;
  margin: 5px;
}
.profile_info:after {
  content: "";
  display: block;
  clear: both;
}

.button{
  background-color: #333;
  color: #fff;
  padding: 10px,15px;
  border: none;
}
.button:hover{
  color: red;
}

#navbar{
  background-color:#333;
  color: #fff;
}
#navbar ul{
  padding: 0;
  list-style: none;
}
#navbar li{
  display: inline;
}
#navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right:15px;
}

#showcase{
  background-image: url("../foto/background.jpg");
  background-position:center ;
  min-height: 300px;
  margin-bottom: 40px;
  text-align: center;
}

#showcase h1{
  color: #fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main{
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#main ul{
  list-style-type: none;
  padding-left: 0px;
}

#sidebar{
  float: right;
  width: 30%;
  background: #333;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

#sidebarContact{
  float: right;
  width: 30%;
  background: #f4f4f4;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

#mainFooter{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}


@media(max-width:600px){
  #main{
    width: 100%;
    float: none;
  }

  #sidebar{
    width: 100%;
    float: none;
  }
}
